<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>CSE308</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" type="text/css" th:href="@{/css/tabs.css}"/>
      <!-- Leaflet CSS -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
         integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
         crossorigin=""/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
      <!-- Leaflet JS -->
      <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
         integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
         crossorigin=""></script>
      <!-- jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- SockJS -->
      <script type="text/javascript" th:src="@{/js/SockJS.js}"></script>
      <script type="text/javascript" th:src="@{/js/slideIn.js}"></script>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
   </head>
   <script language="javascript" type="text/javascript">
	// <!CDATA[
		function About_onclick() {
			window.open("about","_self");
		}
		function View_onclick() {
			window.open("viewStatistics","_self");
		}
		function Index_onclick() {
		    window.open("index","_self");
		}
		function Button3_onclick() {
		    window.open("register","_self");
		}
		function Feedback_onclick() {
		    window.open("feedback","_self");
		}
	    function redistrict(){
	    	if(geojsonStateData != null){
		    	var socket = new SockJS('/redistrict');
		    	ws = Stomp.over(socket);
		    	ws.connect({}, function(frame) {
		    		ws.subscribe("/redistrict/errors", function(message) {
		    			alert("Error " + message.body);
		    		});

		    		ws.subscribe("/redistrict/reply", function(message) {
		                var json = JSON.parse(message.body); 
		                var movedPrecinct = json['movedPrecincts'];
		                setPrecinctDistrict(movedPrecinct['precinctId'], movedPrecinct['districtId']);
		                redraw();


		    		});
		    	}, function(error) { 
		    		alert("STOMP error " + error);	
		    	});
		    }
	    }
	    

	    function start(){
	    	if (ws != null) {
		    	var stateId = stateNames.indexOf(geojsonStateData['state']);
		    	ws.send('/app/redistrict', {}, JSON.stringify({
		    		"request": "start", 
		    		"stateId": 27, 
		    		"weights": [0, 0, 1]
		    	}));
	    	}
	    }

	    function pause(){
        	if (ws != null) {
	        	ws.send('/app/redistrict', {}, JSON.stringify({"request": 'pause'}));
	        }
	    }

	    function resume(){
        	if (ws != null) {
	        	ws.send('/app/redistrict', {}, JSON.stringify({"request": 'resume'}));
	        }
	    }
	    
        function disconnect(){
        	if (ws != null) {
	        	ws.send('/app/redistrict', {}, JSON.stringify({"request": 'stop'}));
	        	ws.disconnect();
     		}
    	}

	</script>
   <body>
   <!-- Navigation Bar -->
   	 <div class="w3-bar w3-white w3-large">
            <button class="w3-bar-item w3-button w3-yellow w3-mobile" type="submit" onclick="return Index_onclick()"><i class="w3-margin-right"></i> DogOwners</button>
            <button class="w3-bar-item w3-button w3-mobile" type="submit" onclick="return About_onclick()"><i class="w3-margin-right"></i>About Us</button>
           
	    <div style=" width: 100%;  position: absolute; top: -18px;height: 40px;" th:switch="${login}"> 
  			<p th:case="'no'"><a  class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile w3-margin-right" th:href="@{/login}">Login/Register</a> </p>
  			<p th:case="'yes'">	<a class="w3-bar-item w3-button w3-right w3-mobile w3-margin-right" th:href="@{/profile}">Profile</a> </p> 
		</div> 	
    </div>
    <!-- Page Container -->
   	<div class="box">
   		<div class="left"><div id="mapid"></div></div>
   		<div class="right">
   				<div>
   					<select id="select"></select>
   				</div>
				<div class="tab_select">
					<button class="tab_button" onclick="setMode(event, 'redistricting')">Auto Redistricting</button>
	  				<button class="tab_button" onclick="setMode(event, 'manual')">Manual Editing</button>
	  				<button class="tab_button" onclick="setMode(event, 'compare')">Comparison</button>
	  				<button class="tab_button" onclick="setMode(event, 'visualize')">Visualization</button>
				</div>
				<a href = "javascript:redistrict()">Start WebSocket</a>
				<a href = "javascript:start()">Run WebSocket</a>
            <a href = "javascript:disconnect()">Stop WebSocket</a>
				<div id="redistricting" class="panel_content">
					<h3>Automatic Redistricting</h3>
					<p>Automatically generate a redistricting plan based on user's focus</p> 
					<hr>
					<div id="redistrict_container">
						<p>Compactness: </p><input type="range" min="1" max="100" value="50" class="slider" id="compactness">
						<p>Population: </p><input type="range" min="1" max="100" value="50" class="slider" id="population">
						<p>Partisan Fairness: </p><input type="range" min="1" max="100" value="50" class="slider" id="partisan">
						<button style="margin: 15px auto; display:block;" class="tab_button" onclick="">Generate</button>
	  				</div>
				</div>
				<div id="manual" class="panel_content">
	  				<h3>Manual Editing</h3>
	  				<p>Select a district, then click on the precincts you wish to assign it to.</p>
	  				<hr>
	  				<div id="district_container">
	  				</div>
				</div>
				<div id="compare" class="panel_content">
					<h3>State Comparison</h3>	
					<p>You can compare two states' statistics.</p> 
					<h4>Compare </h4>
					<select id="select_state_1" required></select>
					<h4> to </h4>
					<select id="select_state_2" required></select>
					<button style="margin: 15px auto; display:block;" class="tab_button js-cd-panel-trigger" onclick="compare()">Compare</button>

				</div>
				<div id="visualize" class="panel_content">
					<h3>Visualization</h3>
					<p>You will be able to view districts by party affiliation, socioeconomic category, and population here.</p>
				</div>
			</div>
		</div>
		<footer class="w3-padding-32 w3-white w3-center w3-margin-top">
         <h5>Find Us On</h5>
         <div class="w3-xlarge w3-padding-16">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
         </div>
      </footer>
      <script type="text/javascript" th:src="@{/js/loadData.js}"></script>
      <script type="text/javascript" th:src="@{/js/maData.js}"></script>
      <script type="text/javascript" th:src="@{/js/ctData.js}"></script>
      <script type="text/javascript" th:src="@{/js/2016Data.js}"></script>
      <script type="text/javascript" th:src="@{/js/USStateBoundaries.js}"></script>
      <script type="text/javascript" th:src="@{/js/AvailableStateBoundaries.js}"></script>
      <script type="text/javascript" th:src="@{/js/MinnesotaSyntax.js}"></script>
      <script type="text/javascript" th:src="@{/js/USStateBoundaries.js}"></script>
      <script type="text/javascript" th:src="@{/js/mapScript.js}"></script>
      <script type="text/javascript" th:src="@{/js/panels.js}"></script>
   		</body>
</html>